/* styles.css */

/* Agrega esto a tu CSS existente */
body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #1f252d;
}

/* Modifica el contenedor para centrarlo completamente en la página */
.container {
    display: flex;
    max-width: 900px;
    margin: 20px; /* Para evitar que el contenido toque los bordes en pantallas pequeñas */
    border: 1px solid #4526ee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
    border: 1px solid #4526ee;
}

.sidebar {
    background-color: #4526ee;
    color: #ffffff;
    width: 35%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
    
}
/* Línea blanca en la sección azul (sidebar) */
.sidebar h2:before {
    background-color: #ffffff; 
}

/* Línea azul en la sección blanca (content) */
.content h2:before {
    background-color: #4526ee; 
}


.profile-pic {
    background-color: #c4c4c4;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.dob {
    margin-bottom: 20px;
    font-size: 14px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #efefef;
}

.section ul {
    list-style: disc;
    list-style-position: outside;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
}


.contact p {
    margin-bottom: 5px;
}

.content {
    width: 70%;
    padding: 50px;
}

h1 {
    margin-top: 50px;
    color: #4526EE;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: justify;
}

.subtitle {
    font-size: 25px;
    margin-bottom: 30px;
    color: #4526ee;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #4526ee;
    font-size: 18px;
    margin-top: 20px; 
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-top: 15px; 
    position: relative;
}

h2:before {
    content: "";
    position: absolute;
    top: -10px; /* Ajusta la distancia para mover la línea más cerca o lejos del texto */
    left: 0;
    width: 100%;
    height: 1px; /* Grosor de la línea */
    background-color: #ffffff; /* Color de la línea */
}


p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    color: #ffffff;
    
}

strong {
    color: #4526ee;
    font-weight:bold;
    
}


